<div class="container-fluid text-center">
  <h1>Edit your details</h1>

  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <form class="form-horizontal" 
            ng-submit="edit_user()" 
            method="post" enctype="application/x-www-form-urlencoded"
            name="update_user_form">

      <div class="form-group">
        <label class="col-sm-2">First name: </label>
        <div class="col-sm-10">
          <input type="text" name="firstName" ng-model="user.firstName" class="form-control" value="{{ name }}" placholder:'First name'>
        </div> <!-- end of col-sm-10 -->
      </div> <!-- end of form-group -->

      <div class="form-group">
        <label class="col-sm-2">Last name: </label>
        <div class="col-sm-10">
          <input type="text" name="lastName" ng-model="user.lastName" class="form-control user_last_name"   placholder:'Last name'>
        </div> <!-- end of col-sm-10 -->
      </div> <!-- end of form-group -->

      <div class="form-group">
        <input type="submit" value="Update details" class="btn btn-default btn btn-success btn-lg">
        
      </div> <!-- end of form-group text-center -->

    </form>    

    
    <p class="bg-primary">You have {{ user.tokens[0].amount }} tokens left. <br> Click the button below if you would like to add more</p>   

    </div> <!-- end of col.xs.12 -->
    <div class="message">
      {{ mes }}
      
    </div> <!-- end of message -->
  </div>
  <div class="col-xs-2"></div>
</div> <!-- end of container-fluid -->




<!-- Button trigger modal -->
<div class="col-xs-12 text-center">
  <button type="button" class="btn btn-primary btn-info text-center" data-toggle="modal" data-target="#myModal">
    Purchase tokens
  </button>
</div>
<!-- Modal -->
<div class="container-fluid">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">

          <form class="form-horizontal" role="form"
                ng-submit="stripe_submit()"
                method="post" enctype="application/x-www-form-urlencoded">

              <fieldset>
                <legend>Payment</legend>
                
                <div class="form-group">
                  <label class="col-sm-3 control-label" for="card-number"  data-stripe="number">Card Number</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="stripe_form_data.card_no" name="card-number" id="card-number" placeholder="Debit/Credit Card Number" required>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
                  <div class="col-sm-9">                   
                    <select class="form-control"  ng-model="register_form_data.exp_month" name="expiry-month" 
                                          data-stripe="exp-month" id="expiry-month" required>
                      <option>Month</option>
                      <option value="01">Jan (01)</option>
                      <option value="02">Feb (02)</option>
                      <option value="03">Mar (03)</option>
                      <option value="04">Apr (04)</option>
                      <option value="05">May (05)</option>
                      <option value="06">June (06)</option>
                      <option value="07">July (07)</option>
                      <option value="08">Aug (08)</option>
                      <option value="09">Sep (09)</option>
                      <option value="10">Oct (10)</option>
                      <option value="11">Nov (11)</option>
                      <option value="12">Dec (12)</option>
                    </select>
                  </div> <!-- end of col-sm-9 -->
                </div> <!-- end of form-group -->

                <div class="form-group">
                  <label class="col-sm-3 control-label" for="card-number"  data-stripe="number">Card Number</label>
                  <div class="col-sm-9">
                    <select class="form-control" ng-model="register_form_data.exp_year" data-stripe="exp-year" name="expiry-year" required>
                        <option value="13">2013</option>
                        <option value="14">2014</option>
                        <option value="15">2015</option>
                        <option value="16">2016</option>
                        <option value="17">2017</option>
                        <option value="18">2018</option>
                        <option value="19">2019</option>
                        <option value="20">2020</option>
                        <option value="21">2021</option>
                        <option value="22">2022</option>
                        <option value="23">2023</option>
                      </select>
                  </div> <!-- end of col-sm-9 -->
                </div> <!-- end of form-group -->

                <div class="form-group">
                  <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="register_form_data.cvv" name="cvv" id="cvv" data-stripe="cvc" placeholder="Security Code" required>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-9">
                    <input type="submit" value="Pay now" class="btn btn-default btn btn-success btn-lg login">
                  </div>
                </div>

              </fieldset>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
</div>